{% load i18n ifsetting_tag account_tags %}
{% if user.is_authenticated %}
    <b>{% user_display user %}</b>
    |
    <a href="{% url acct_email %}">{% trans "Account" %}</a>
    |
    {% if user.is_staff %}
        <a href="{% url admin:index %}">{% trans "Admin" %}</a>
        |
    {% endif %}
    <a href="{% url acct_logout %}">{% trans "Logout" %}</a>
{% else %}
    {% url acct_login as acct_login_url %}
    {% url acct_signup as acct_signup_url %}
    {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% blocktrans %}<a href="{{ acct_login_url }}">Log in</a> or <a href="{{ acct_signup_url }}">Sign Up</a>{% endblocktrans %}
    {% else %}
        {% blocktrans %}<a href="{{ acct_login_url }}">Log in</a>{% endblocktrans %}
    {% endifsetting %}
{% endif %}
